.detailMain {
  width: 100%;
  max-width: 1240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: $primary-color;
  box-shadow: $shadow1;
}
