.footer {
  background: $primary-color;
  width: 100%;
  max-width: 1440px;
  height: 509px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: $primary-color;
  gap: 10px;

  @media screen and (max-width: 480px) {
    width: 375px;
    height: 209px;
    margin: 0;
  }


  

  .__logo {
    width: 122px;
  }


  .__p {
    height: 46px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $background-color;

    @media screen and (max-width: 480px) {
      width: 110px;
      height: 46px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $background-color;
    }
  }




  .__p p {
    font-size: 12px;
    padding: 10px;
    width: 8;
  }
}
