.detail-title {
  max-width: 1240px;
  height: auto;
  min-height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 10px;

  .title {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 10px;

    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      flex-wrap: wrap;
      gap: 0;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: bold;
      color: $secondary-color;
      margin: 10px 0;
      padding: 0;

      @media screen and (max-width: 480px) {
        min-width: 250px;
        font-size: 14px;
      }
    }

    p {
      margin: 0;
      padding: 0;
      font-weight: bold;
      color: $tertiary-color;

      @media screen and (max-width: 480px) {
        font-size: 14px;
        min-width: 150px;
      }
    }
  }

  .tags {
    width: 100%;
    min-width: 365px;
    height: 25px;
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 10px;

    @media screen and (max-width: 480px) {
      width: 335px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      flex-wrap: wrap;

    }
  }
  .tag {
    width: 115px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: $secondary-color;
    border-radius: 10px;
    color: $primary-color;
    font-weight: bold;
    font-size: 14px;
    font-weight: 700;

    @media screen and (max-width: 480px) {
      width: 84px;
      height: 18px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      background: $secondary-color;
      border-radius: 5px;
      color: $primary-color;
      font-weight: bold;
      font-size: 10px;
      font-weight: 700;
    }
  }
}
