body {
  background: #ffffff;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

#root {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #ff6060;
  height: 60px;
  margin-bottom: 30px;
}
.navBar .__menu {
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.navBar .__menu a {
  text-decoration: none;
  color: #ff6060;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.4s ease-in-out;
}
.navBar .__menu .__propos,
.navBar .__menu .__acceuil {
  text-decoration: none;
  color: #ff6060;
  font-size: 0.8rem;
}
.navBar .__menu .__propos:hover,
.navBar .__menu .__acceuil:hover {
  border-bottom: 2px solid #ff6060;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 0;
}

.banner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 0;
  object-fit: cover;
}

.banner-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 0;
  background: rgb(223, 213, 213);
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mainHome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mainHome figure {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 0;
  background: rgb(223, 213, 213);
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.mainHome figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.mainHome figure figcaption {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ff6060;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.aboutContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.collapse-container {
  width: 1023px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  color: #ffffff;
  background: #ff6060;
}
.collapse-container h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem;
}
.collapse-container span {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
}

.collapse-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #ff6060;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.collapse-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #f7f7f7;
  color: #000000;
  border-radius: 0 0 5px 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.collapse-content p {
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: justify;
}

.chevron {
  width: 24px;
  height: 13px;
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.chevron.collapsed {
  width: 24px;
  height: 13px;
  transform: rotate(180deg);
}

footer {
  background: black;
  width: auto;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
footer .__logo {
  width: 122px;
}
footer .__p {
  color: #ffffff;
  width: 110px;
  height: 46px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
footer .__p p {
  font-size: 12px;
  padding: 10px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
